@media (max-width: 1220px) {
    .nav {
        display: none;
        flex-wrap: wrap;

    }
   #burger {
        display: block;
    }
   
}

@media (max-width:1024px) {
    .shopbox {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
       
    }
    .desc {
        flex-wrap: wrap;
        
    }
    .overlay {
        width: 100%;
        flex-wrap: wrap;
        width: 100%;
    }
    .footer-row {
        width: 100%;
    }
}


@media (max-width:1024px) {
    .categoriesbox{
        flex-wrap: wrap;
        justify-content: center;
        display: block;
       
    }
    .desc {
        flex-wrap: wrap;
        
    }
    .overlay {
        width: 100%;
        flex-wrap: wrap;
        width: 100%;
    }
    .tittle1 {
        font-size: 40px;
    } 
    .footer-row {
        width: 100%;
    }
    .overlay1 {
        height: 100%;
    
    }
}

@media  (max-width:1263px) {
    .map {
        width: 40%;
    }
   
}

@media(max-width:1200px) {
    .making {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
       
    }
}

@media (max-width:1200px){
    .banner-texth1{
        width: 10%;
    }
    .overlay2{
        height: 100%;
    }
}


@media (max-width:697px) {
    .footerleft {
        margin-left: 50px;
    }
    .map {
       margin-top: 392px;
       width: 100%;
    }
    .footerleft{
        margin-left: 20px;
    }
    .tittle1 {
        font-size: 45px;
       
    }
    
}

@media (max-width:517px) {
    
    .footer-right {
        
        margin-left: -100px;
    }
    .jameson {
        font-size: 20px;
    }
    .price {
        font-size: 20px;
    }
    .shop1 {
       
        width: 110%;
        
    }
    .categorie1 img {
        width: 120%;
       height: 105%;

    }
    .categorie1 p {
        margin-left: 35px;
        width: 100%;
    }
   
    .categorie1 h1 {
        margin-left: 55px;
    }
    .overlay1 {
        height: 100%;
    width: 120%;
    }
    
}

@media (max-width: 475px) {
    .footerleft {
        margin-left: -10px;
    }
    .tittle1{
        font-size: 40px;
    }
    .desc {
        font-size: 10px;
        width: 100%;
        margin-bottom: -200px;
        
    }   
    .categorie1 p {
        margin-left: 20px;
        width: 100%;
    }
   
    .categorie1 h1 {
        margin-left: 50px;
    }
    
    
}

@media (max-width:350px) {
    .footer-row {
        font-size: 15px;
    }
    .tittle1{
        font-size: 35px;
    }
   .jameson {
       font-size: 15px;
   }
   .price {
       font-size: 15px;
   }
   .desc {
       font-size: 15px;
   }
   .categorie1 img {
    width: 130%;
}
    .categorie1 p {
        margin-left: 30px;
        width: 100%;
    }
   
    .categorie1 h1 {
        margin-left: 60px;
    }
    .overlay1 {
       
    width: 130%;
    }
    .shop1 img {
        width: 100%;
    }

}


@media (max-width:685px) {
    
    .desc {
        font-size: 10px;
        width: 100%;
        margin-bottom: -20px;
        
    }   

}
@media (max-width:520px){
    .shop1 {
        width: 100%;
    }
   
}

@media (max-width:660px){
    
   .irish  {
       margin-top: -50px;
       font-size: 18px;
   }
}
@media (max-width:480px) {
    .irish {
        font-size: 14px;
    }
}

@media (max-width:375px) {
    .irish {
        margin-top: -40px;
        font-size: 11px;
    }
}



@media(max-width:510px){
    .categorie1 {
        margin-left: -50px;
       
    }
}


@media(max-width:440px){
    .first {
        width: 350px;
    }
    .banner-texth1 {
        font-size: 120px;
    }
}
@media(max-width:389px) {
    .first {
        width: 300px;
    }
    .banner-texth1 {
       width: 100%;
        font-size: 90px;
    }
}
@media(max-width:338px) {
    .first {
        width: 280px;
    }
    
}


/* 
@media( max-width:375px) {
    .shopbox {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
        width: 100%;
    }
    .desc {
        width: 10%;
    }
    .overlay {
        
        flex-wrap: wrap;
       
    }
}
@media (max-width:320px) {
    .shopbox {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
    }
    .desc {
        flex-wrap: wrap;
    }
    .overlay {
        width: 10%;
        flex-wrap: wrap;
        width: 100%;
    }

}


@media (max-width:1024px) {
    .categoriesbox {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
    }
    .desc {
        flex-wrap: wrap;
    }
    .overlay {
        width: 10%;
        flex-wrap: wrap;
        width: 100%;
    }
}


@media (max-width:1024px) {
    .makingprocess-box {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
    }
    .makingprocess-img1 {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
        width: 100%;
    }
}


 */



